<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="page-footer black white-text" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About the project</h5>
                <p class="grey-text text-lighten-4">
                    I decided to make this project in my free time, because all of the existing
                    markdown to pdf converters were either not working for me or too limiting.
                    One of the limitations that I found annoying is that some services accept
                    only up to 1 megabyte files. When you add some images to your markdown files,
                    it is pretty easy to exceed the 1 megabyte limit. So here we are, using
                    my own markdown to pdf converter.
                </p>
            </div>
        </div>
    </div>
    <div class="page-footer footer-copyright">
        <div class="container center-align">
            <div id="github">
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/Zukkari/markdowntopdf" data-size="large" aria-label="Follow @zukkari on GitHub">Follow @zukkari</a>
            </div>
        </div>
    </div>
</footer>
</html>