<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="ui inverted vertical footer segment" th:fragment="footer">
    <div class="ui divider"></div>
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="seven wide column">
                <h4 class="ui inverted header">About the project</h4>
                <p>Project is fully open source. Source code can be found by the link below.</p>
                <div id="github" class="ui horizontal small divided link list">
                    <a class="github-button" href="https://github.com/Zukkari/markdowntopdf" data-size="large"
                       aria-label="Follow @zukkari on GitHub">Follow @zukkari</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>