<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="pdfCount" type="java.lang.BigInteger"*/-->
<head>
    <meta charset="UTF-8">
    <title>Markdown to pdf converter</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="pushable">

<div class="pusher">
    <div th:replace="fragments/header"></div>


    <div class="ui vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui header masthead">
                Markdown to PDF
            </h1>
            <h4 class="ui header masthead">Convert you markdown files to PDF with no effort</h4>

            <form id="upload" method="post" enctype="multipart/form-data" action="/">
            <label for="fileUpload" class="ui huge primary button">Upload file</label>
            <input id="fileUpload" name="file" th:type="file" style="display: none">
            </form>

            <h3 class="ui header masthead">
                Total markdown files converted
            </h3>
            <h2 class="ui header masthead" th:text="${pdfCount}"></h2>
        </div>
    </div>

    <div th:replace="fragments/footer"></div>
</div>


<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('#upload').change(function () {
        $('#upload').submit();
    });
</script>
</body>
</html>
